DB_POSTGRES_DOCKER_STRING=
DB_POSTGRES_DOCKER=
DB_MYSQL_URL=

JWT_SECRET=
HASHCOST=8
JWT_MAXAGE_IN_MINUTES=60

SMTP_SERVER=smtp.your-email-provider.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password
SMTP_FROM_ADDRESS=no-reply@yourdomain.com